.exp-container>div:first-child {
    font-size: 40px;
    font-weight: 600;
    color: white;
    margin: 40px 0px 20px 0px;
}

.exp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: rgb(245 241 241);
    /* Gray background color */
    padding: 20px;
    border-radius: 10px;
    width: 80%;
}

.exp-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-details {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 10px;
}

.logo img {
    max-width: 250px;
    /* Adjust as needed */
}

.details div {
    margin-bottom: 5px;
}
.m-0{
    margin: 0px;
}
.text-bold {
    font-weight: 600;
    font-size: 17px;
    margin-top: 10px;
    color: rgb(10, 10, 10);
    margin-left: 36px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.details :first-child {
    font-weight: bold;
}

.details :last-child {
    color: black;
    font-weight: 500;
}
li{
    margin-top: 10px;
}

.dates >p {
    font-weight: 600;
    color: rgb(10, 10, 10);
}

